#meny {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(240, 178, 122);
}

li {
    float: left;
    border-right: 4px solid black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-style: oblique;
}

li a:hover {
    background-color: rgb(245, 176, 65);
}

.active {
    background-color: rgb(245, 176, 65);
}

html {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(https://wallpapertag.com/wallpaper/full/2/4/8/361467-japanese-background-1920x1200-for-samsung.jpg);
  background-size: cover;
}
